.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-decoration-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 75px;
}
#image{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
#center {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#centerimg {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#button {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    font-family: Arial,Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 9px,9px,9px,9px;
    text-decoration: none;
}
#button:hover{
    background: #3caefa;
    text-decoration: none;
}
#navbar{
    background-color : royalblue;
}
#navbartext
{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#space
{
    margin-bottom: 20px;
    padding:9px,9px,9px,9px;
}
#centeraddlogo {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#buttonadd {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 9px, 9px, 9px, 9px;
    text-decoration: none;
    margin-bottom: 20px;
}
#buttonadd:hover
{
background: #3caefa;
text-decoration: none;
}
#bgformcolor
{
    background-color: white;
}
#bgcolor
{
    background-color: gold;
}

#tablecolor
{
    background-color: #FFFFE0;
}
#tablerowcolor
{
    background-color:#BDB76B ;
    color:black;
}
#loader
{
    position: "fixed";
    top: 50%; 
    left: 50%;
     transform: translate(-50%, -50%);
}
#homeimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#hbutton
{
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 50px, 50px, 50px, 50px;
    text-decoration: none;
    display: inline;
    margin-right:auto;
}
#hbutton2:last-child {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 50px, 50px, 50px, 50px;
    text-decoration: none;
    margin-top:0%;
    display: inline;
    margin-left: 65%;
}